body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: #F9F7F0;
}

li {
    list-style: none;
}

button {
    background-color: #F9F7F0;
    border: none;
    border: 1px solid #072A40;
    color: #072A40;
    padding: 8px 10px;
    border-radius: 3px;
    margin: auto;
}

button:hover {
    background-color: #178CA4;
    color: #F9F7F0;
    border-radius: 4px;
}

/**navbar css*/
.navbar {
    display: flex;
    align-items: center;
    background-color: #178CA4;
    padding: 8px 12px;
    border-bottom: 1px solid #072A40;
}
.navbar_logo {
    font-size: 24px;
    color: #072A40;
}


/**infobox css*/
.infobox {
    width: 100%;
    height: 100%;
    display: flex;
    color: #072A40;
}
.info.sidebar {
    flex: 1 40%;
}
.info.mapbar {
    flex: 1 60%;
}

/**sidebar css*/
.sidebar {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 100vh;
    background-color: #F9F7F0;
    border-right: 1px solid #072A40;
}

.sidebar_optionArea {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #072A40;
    padding: 24px 25px 20px;
}

.btn_search_tab_area {
    display: flex;
    width: 340px;
}

.btn_search_tab {
    display: flex;
    padding-bottom: 4px;
}

.search_inputBox_area {
    display: flex;
    width: 340px;
}

.search_inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4px;
}

.option_time_area {
    display: flex;
    width: 340px;
}

.option_time {
    display: flex;
    padding-bottom: 4px;
}

.action_tab_area {
    display: flex;
    width: 340px;
}

.action_tab {
    display: flex;
    padding-bottom: 4px;
}

/* sidebar_resultsArea에 대한 스타일 */
.sidebar_resultsArea {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤을 표시 */
}

/* resultList에 대한 스타일 */
#resultList {
    width: 100%;
    padding: 10px; /* 필요에 따라 조절 가능한 여백 */
    box-sizing: border-box; /* 패딩을 포함한 전체 너비를 유지 */
}


.subPathSeparator {
    border-top: 1px dashed #999; /* 점선 스타일의 회색 경계선 */
}

.sidebar_resultstext {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #072A40;
}

/**mapbar css*/
/**.mapbar {
    display: flex;
    background-color: #18B7BE;
    flex-grow: 1;
}*/

/**
#map {
    width: 100vw;
    height: 100vh;
}*/

/* 맵 바 영역에 대한 스타일 */
.mapbar {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* 지도를 표시할 영역에 대한 스타일 */
.viewMap {
    width: 100%;
    height: 100%;
}

/* Google 지도의 실제 컨테이너에 대한 스타일 */
#map {
    width: 100%;
    height: 100%;
}

/* 서브패스 컨테이너를 초기에 숨김 */
div.subPathContainer {
    display: none;
}

/* ▼와 ▲ 버튼 스타일 */
.toggleSubPaths {
    background: none;
    border: none;
    border: 1px solid #072A40;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

/* ▼와 ▲ 버튼 간격 조정 */
.toggleSubPaths + br {
    margin-bottom: 5px;
}